/* Typography */
body {
    /*Everything is 'Nanum Myeongjo'*/
    font-family: 'Nanum Myeongjo';
    font-size: 12pt;
    color: black;
}

h1{
    font-family: 'Zilla Slab';
    font-size: 65pt;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

h2{
    font-family: 'Zilla Slab';
    font-size: 22pt;
    color: black;
    text-transform: uppercase;
}

h3{
    font-family: 'Zilla Slab';
    font-size: 14pt;
    color: black;
    text-transform: uppercase;
}

h4{
    font-family: 'Zilla Slab';
    font-size: 22pt;
    color: white;
    text-transform: uppercase;
    background-color: black;
}

p2{
    font-family: 'Zilla Slab';
    font-size: 12pt;
    color: blue;
    text-transform: uppercase;
}

p3{
    font-family: 'Zilla Slab Highlight';
    font-size: 22pt;
    color: blue;
    text-transform: uppercase;   
}

p4{
    font-family: 'Nanum Myeongjo';
    font-size: 8pt;
    color: black;
    text-transform: lowercase;
}


  /* Card Elements */
  .card img{
      height: 500px;
      object-fit: cover;
  }

  /* Weather Table */
  .table thead{
      background-color: black;
      color: white;
      text-transform: uppercase;
  }

  /* Horizontal Break */
  #topbreak {
      border-top: 1px solid red;
  }

  #bottombreak {
        border: 10px solid black;
        border-radius: 1px;
  }

  .col-sm {
      width: 50px;
  }